.container {
    padding: 25px;
    height: calc(100dvh - 90px);
    background-color: #f6f6f6;
}

.item {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 35px;
    margin-bottom: 30px;
    border: 0.5px solid #d0d0d0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
    height: 40px;
    cursor: pointer;
}

.iconWrapper {
    margin-right: 10px;
}

.icon {
    width: 50px;
    height: 50px;
}

.textWrapper {
    margin-left: 10px;
    flex-grow: 1;
}

.totalTitle {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-size: 13px;
    color: #8b8b8b;
    margin-top: 6px;
}

.arrowWrapper {
    margin-left: 10px;
    font-size: 20px;
}
