.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(164deg, #fff 0.02%, #ffeaeb 99.98%);
    padding: 20px;
    box-sizing: border-box;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    width: 100%;
}

.topBar .arrow {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.iconWrapper {
    margin-bottom: 20px;
}

.icon {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 500;
}

.controls {
    width: 100%;
    height: 65px;
    background-color: #fff;
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    border: 0.5px solid #e0e0e0;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 480px) {
    .container {
        width: calc(100vw - 20px);
        max-width: 460px;
    }
}
