.container {
    padding: 25px;
    background-color: #f6f6f6;
    height: 100dvh;
    font-weight: 600;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    width: 100%;
}

.topBar .arrow {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.totalStock {
    position: relative;
    margin-top: 30px;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-weight: 600;
}

.totalStock div:first- {
    font-size: 20px;
}

.totalStock div:nth-child(2) {
    margin-top: 10px;
    font-size: 30px;
}

.totalStock div:nth-child(3) {
    margin-top: 10px;
    font-size: 14px;
}

.sellButton:hover {
    background-color: #0056b3;
}

.stockContainer {
    margin-top: 10px;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    width: fit-content;
    margin-left: 0;
}

.tabButton {
    flex: 1;
    padding: 10px 15px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    color: #c0c0c0;
    transition: color 0.3s, font-weight 0.3s;
    white-space: nowrap;
}

.activeTab {
    color: #000;
    font-weight: bold;
}

.underline {
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}

.totalCount {
    padding: 10px 0;
    font-size: 1rem;
    color: #666;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.stocksList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: auto;
    max-height: calc(100dvh - 490px);
    overflow-y: auto;
}

.stockCard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    perspective: 1000px;
    position: relative;
    width: auto;
    height: auto;
    min-height: 150px;
}

.stockInner {
    transition: transform 0.6s;
    transform-style: preserve-3d;

    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.stockCard:hover .stockInner {
    transform: rotateY(180deg);
}

.stockCard:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.stockFront,
.stockBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.stockFront {
    background-color: #ffffff;
}

.stockBack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotateY(180deg);
    font-size: 16px;
}

.sellButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.sellButton2 {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.stockCard:hover .sellButton {
    opacity: 1;
    pointer-events: auto;
}

.stockLogo {
    max-width: 50px;
}

.stockName {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.stockQuantity,
.stockValue {
    font-size: 16px;
    color: #777;
}

.transactionsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    max-height: calc(100dvh - 490px);
    overflow-y: auto;
}

.transaction {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.transaction:hover {
    background-color: #f9f9f9;
}

.transactionDate {
    font-size: 12px;
    color: #555;
}

.transactionStockName {
    font-size: 1.1rem;
    color: #333;
}

.transactionType {
    font-size: 1rem;
    color: #007bff;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redText {
    color: #ff0000;
}

.blueText {
    color: #007bff;
}

.noData {
    text-align: center;
    padding: 40px 0px;
    font-size: 1.2rem;
    color: #666;
}

.dateButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.unsettledList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    max-height: calc(100dvh - 520px);
    overflow-y: auto;
}

.unsettled {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.unsettled:hover {
    background-color: #f9f9f9;
}

.unsettled .stockLogo {
    max-width: 40px;
    height: auto;
    margin-right: 15px;
}

.unsettled .dateButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.unsettled .transactionDate {
    font-size: 12px;
    color: #555;
}

.unsettled .transactionStockName {
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.unsettled .transactionQuantity {
    font-size: 1rem;
    color: black;
}

.cancelButton {
    background-color: #ccc;
    color: #000;
    padding: 6px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.cancelButton:hover {
    background-color: #e60000;
}
.positiveText {
    color: #ff0000;
}

.negativeText {
    color: #007bff;
}

.neutralText {
    color: #000000;
}

@media (max-height: 800px) {
    .stockCard {
        min-height: 130px;
    }

    .stockLogo {
        max-width: 40px;
    }

    .stockName {
        font-size: 1.1rem;
        margin-bottom: 10px;
        color: #333;
    }

    .stockQuantity,
    .stockValue {
        font-size: 14px;
        color: #777;
    }

    .topBar {
        font-size: 22px;
    }

    .stockBack {
        font-size: 14px;
    }

    .sellButton2 {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 12px;
    }

    .transactionsList {
        max-height: calc(100dvh - 520px);
    }
}

@media (max-height: 730px) {
    .stockCard {
        min-height: 110px;
    }

    .stockLogo {
        max-width: 35px;
    }

    .stockName {
        font-size: 1.1rem;
        margin-bottom: 10px;
        color: #333;
    }

    .stockQuantity,
    .stockValue {
        font-size: 14px;
        color: #777;
    }

    .totalStock {
        margin-top: 20px;
    }

    .totalStock div:first- {
        font-size: 18px;
    }

    .totalStock div:nth-child(2) {
        margin-top: 8px;
        font-size: 28px;
    }

    .totalStock div:nth-child(3) {
        margin-top: 8px;
        font-size: 12px;
    }

    .sellButton {
        font-size: 12px;
    }

    .tabs {
        margin-bottom: 15px;
    }

    .tabButton {
        font-size: 0.9rem;
    }
    .topBar {
        font-size: 20px;
    }

    .negativeText,
    .positiveText,
    .neutralText {
        font-size: 14px;
    }
    .stocksList {
        max-height: calc(100dvh - 460px);
    }
    .stockBack {
        font-size: 14px;
    }

    .sellButton2 {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 13px;
    }

    .transactionsList {
        max-height: calc(100dvh - 460px);
    }

    .unsettledList {
        max-height: calc(100dvh - 470px);
    }
}

@media (max-height: 670px) {
    .stockCard {
        min-height: 90px;
    }

    .stockLogo {
        max-width: 30px;
    }

    .stockName {
        font-size: 1rem;
        margin-bottom: 6px;
        color: #333;
    }

    .stockQuantity,
    .stockValue {
        font-size: 13px;
        color: #777;
    }

    .totalStock {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .totalStock div:first- {
        font-size: 16px;
    }

    .totalStock div:nth-child(2) {
        margin-top: 8px;
        font-size: 24px;
    }

    .totalStock div:nth-child(3) {
        margin-top: 8px;
        font-size: 11px;
    }

    .sellButton {
        font-size: 11px;
    }

    .tabs {
        margin-bottom: 10px;
    }

    .tabButton {
        font-size: 0.8rem;
    }
    .topBar {
        font-size: 18px;
    }

    .negativeText,
    .positiveText,
    .neutralText {
        font-size: 13px;
    }
    .stocksList {
        max-height: calc(100dvh - 420px);
    }

    .totalCount {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .stockBack {
        font-size: 13px;
    }

    .sellButton2 {
        margin-top: 10px;
        padding: 8px 18px;
        font-size: 12px;
    }
    .transactionsList {
        max-height: calc(100dvh - 420px);
    }

    .unsettledList {
        max-height: calc(100dvh - 420px);
    }

    .noData {
        font-size: 1.1rem;
    }

    .transactionStockName,
    .transactionQuantity{
        font-size: 14px;
    }
}

@media (max-height: 600px) {
    .stockCard {
        min-height: 90px;
    }

    .stockLogo {
        max-width: 25px;
    }

    .stockName {
        font-size: 0.9rem;
        margin-bottom: 6px;
        color: #333;
    }

    .stockQuantity,
    .stockValue {
        font-size: 12px;
        color: #777;
    }

    .totalStock {
        margin-top: 18px;
        margin-bottom: 8px;
    }

    .totalStock div:first- {
        font-size: 14px;
    }

    .totalStock div:nth-child(2) {
        margin-top: 8px;
        font-size: 22px;
    }

    .totalStock div:nth-child(3) {
        margin-top: 8px;
        font-size: 10px;
    }

    .sellButton {
        font-size: 10px;
    }

    .tabs {
        margin-bottom: 10px;
    }

    .tabButton {
        font-size: 0.7rem;
    }
    .topBar {
        font-size: 16px;
    }

    .negativeText,
    .positiveText,
    .neutralText {
        font-size: 12px;
    }
    .stocksList {
        max-height: calc(100dvh - 400px);
    }

    .totalCount {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .stockBack {
        font-size: 13px;
    }

    .sellButton2 {
        margin-top: 10px;
        padding: 8px 18px;
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .stockCard {
        min-height: 90px;
    }

    .stockLogo {
        max-width: 25px;
    }

    .stockName {
        font-size: 0.7rem;
        margin-bottom: 6px;
        color: #333;
    }

    .stockQuantity,
    .stockValue {
        font-size: 12px;
        color: #777;
    }

    .totalStock {
        margin-top: 18px;
        margin-bottom: 8px;
    }

    .totalStock div:first- {
        font-size: 14px;
    }

    .totalStock div:nth-child(2) {
        margin-top: 8px;
        font-size: 22px;
    }

    .totalStock div:nth-child(3) {
        margin-top: 8px;
        font-size: 10px;
    }

    .sellButton {
        font-size: 10px;
    }

    .tabs {
        margin-bottom: 10px;
    }

    .tabButton {
        font-size: 0.7rem;
    }
    .topBar {
        font-size: 16px;
    }

    .negativeText,
    .positiveText,
    .neutralText {
        font-size: 12px;
    }
    .stocksList {
        max-height: calc(100dvh - 400px);
    }

    .totalCount {
        font-size: 0.8rem;
        margin-bottom: 10px;
    }

    .stockBack {
        font-size: 13px;
    }

    .sellButton2 {
        margin-top: 10px;
        padding: 8px 18px;
        font-size: 10px;
    }

    .transactionStockName,
    .transactionQuantity{
        font-size: 14px;
    }
}
