.container {
    padding: 20px;
    height: calc(100dvh - 120px);
    background-color: #ffffff;
    overflow-y: auto;
}

.title {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.info, .stock, .etc{
    height: auto;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #FAF9F6;
    border: 2px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.accountInfo{
    margin-left: 10px;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logoAccount {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.accountId {
    font-weight: 600;
}

.accountLogo {
    width: 30px;
    height: 30px;
}

.arrowWrapper {
    font-size: 24px;
    cursor: pointer;
}

.pointInfo{
    margin-left: 15px;
}

.pointLogo{
    width: 25px;
    height: 25px;
}

.pointAsset{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pointText{
    font-size: 30px;
    font-weight: 600;
}

.bottom{
    display: flex;
    justify-content: flex-end;
}

.withdrawButton{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0046FF;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.stockTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.rate{
    display: flex;
}

.myStockText{
    font-size: 20px;
}

.rate1{
    font-size: 20px;
}

.rate2{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #787878;
    margin-left: 13px;
}

.percent{
    margin-left: 3px;
}

.earningRatesList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.earningRateItem{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    width: calc(33.33% - 10px);
    cursor: pointer;
}



.logo{
    width: 70px;
    height: 70px;
}

.enterpriseName{
    margin-top: 3px;
}

.rateValue{
    margin-top: 3px;
}

.moreButton{
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #0046FF;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.calendarIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/my/logout.svg");
}

.noticeIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/my/notice.svg");
}

.faqIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/homepage/faq.svg");
}


.actionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actionLabel {
    margin-top: 5px;
    text-align: center;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}


@media (max-width: 400px) {
    .logo {
        width: 60px;
        height: 60px;
    }

    .enterpriseName {
        font-size: 14px;
    }

    .rateValue {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    .logo {
        width: 50px;
        height: 50px;
    }

    .enterpriseName {
        font-size: 12px;
    }

    .rateValue {
        font-size: 10px;
    }
}


@media (max-height: 890px) {
    .info {
        padding: 15px;
    }

    .accountId {
        font-size: 16px;
    }

    .accountLogo {
        width: 25px;
        height: 25px;
    }

    .arrowWrapper {
        font-size: 20px;
    }

    .pointLogo {
        width: 20px;
        height: 20px;
    }

    .pointText {
        font-size: 25px;
    }

    .withdrawButton {
        padding: 8px 16px;
    }
}

