.reward-section {
    background-color: #fff;
    padding: 30px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.reward-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.video-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.receipt-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.video-text,
.receipt-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
}

.video-title,
.receipt-title {
    font-size: 18px;
    font-weight: 600;
}

.video-description,
.receipt-description {
    font-size: 13px;
    color: #8b8b8b;
}

.video {
    width: 50px;
    height: 50px;
    background: url("~assets/homepage/video.svg") no-repeat center;
    background-size: contain;
}

.receipt {
    width: 50px;
    height: 50px;
    background: url("~assets/homepage/receipt.svg") no-repeat center;
    background-size: contain;
}
