.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    backdrop-filter: blur(5px);
}

.text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.modalContent {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.receiptData {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.info {
    margin-left: 20px;
    /*display: flex;*/
    /*flex-direction: column;*/
    gap: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;

}

.info div {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
}

.receiptImage {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.modalActions {
    display: flex;
    justify-content: space-around;
}

.confirmButton {
    background-color: #6062fd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 50%;
    transition: all 0.3s ease;
}

.cancelButton {
    background-color: #fa6473;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    width: 50%;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.click{
    margin-left: 30px;
    text-align: start;
    font-size: 13px;
}

.imageZoomModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    cursor: pointer;
}

.zoomedImage {
    max-width: 90%;
    max-height: 90%;
}

.confirmButton:hover, .cancelButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .modalContent {
        padding: 20px;
    }
    .text {
        font-size: 20px;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .confirmButton, .cancelButton {
        padding: 10px 20px;
        font-size: 14px;
    }
}