.container {
    background-color: #fff;
    height: calc(100dvh - 70px);
    padding: 25px;
}

.topBar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    width: 100%;
}

.topBar .arrow {
    position: absolute;
    left: 0px;
    cursor: pointer;
}

.info {
    margin-top: 60px;
}

.stockNameGroup {
    display: flex;
    align-items: center;
}

.stockName {
    font-size: 20px;
    font-weight: 600;
}

.stockCode {
    font-size: 16px;
    font-weight: 600;
    color: #9e9e9e;
    margin-left: 5px;
}

.stockPrice {
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
}

.previousDay {
    color: #6f6f6f;
}

.previousPrice {
    margin-left: 5px;
}

.previousRate {
    margin-left: 3px;
}

.previousPriceNegative {
    color: #007bff;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 13px;
    font-weight: 500;
}

.previousPricePositive {
    color: #ff0000;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

.previousPriceZero {
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

.noDataMessage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartContainer {
    margin-top: 30px;
    width: 80%;
    height: 300px;
    overflow: visible;
}

.topTabs {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
}

.topTabButton {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #999;
    font-weight: normal;
    transition: color 0.3s ease, font-weight 0.3s ease;
    position: relative;
}

.activeTab {
    color: #000;
    font-weight: bold;
}

.underline {
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}

.descriptionContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Logo{
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}
.name{
    font-size: 24px;
    margin-bottom: 20px;
}

.comment{
    letter-spacing: 2px;
}


@keyframes pulse {
    0% {
        r: 5;
        opacity: 1;
    }
    50% {
        r: 8;
        opacity: 0.7;
    }
    100% {
        r: 5;
        opacity: 1;
    }
}

.glowingDot {
    animation: pulse 2s infinite;
    stroke: #007bff;
    stroke-width: 2;
    fill: #007bff;
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1000;
}

.tabButton {
    font-size: 14px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 10px;
}

.buttonGroup {
    position: fixed;
    bottom: 110px;
    width: 100%;
    max-width: 480px;
    display: flex;
    z-index: 999;
    justify-content: flex-start;
    flex-direction: column;
}

.buttonButton{
    display: flex;
    flex-direction: row;
}

.sellButton,
.buyButton {
    width: 45%;
    font-size: 18px;
    background-color: #3182f7;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 50px;
}

.buyButton {
    background-color: #f04452;
}

.myStock {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 50px;
}

.row div:first-child {
    color: #666;
}

.row div:last-child {
    color: #333;
}

.profitRate {
    color: #ff0000;
    margin-left: 5px;
}

@media (max-width: 420px) {
    .Logo{
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    .name{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .comment{
        letter-spacing: 1px;
        font-size: 14px;
    }
    
}

@media (max-height: 890px) {
    .chartContainer {
        height: 270px;
        margin-top: 10px;
    }
    .info {
        margin-top: 60px;
    }
}

@media (max-height: 850px) {
    .chartContainer {
        height: 250px;
        margin-top: 10px;
    }
    .info {
        margin-top: 40px;
    }

    .stockName {
        font-size: 18px;
    }

    .stockCode {
        font-size: 12px;
    }

    .stockPrice {
        font-size: 28px;
    }

    .previousPricePositive,
    .previousPriceNegative {
        font-size: 14px;
        margin-top: 3px;
    }

    .Logo{
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }
    .name{
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .comment{
        font-size: 16px;
    }
    .topTabs {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-height: 800px) {
    .chartContainer {
        height: 230px;
        margin-top: 10px;
    }
    .info {
        margin-top: 30px;
    }

    .stockName {
        font-size: 18px;
    }

    .stockCode {
        font-size: 12px;
    }

    .stockPrice {
        font-size: 28px;
    }

    .previousPricePositive,
    .previousPriceNegative {
        font-size: 12px;
        margin-top: 3px;
    }

    .buyButton,
    .sellButton{
        font-size: 16px;
        padding: 10px 15px;
    }

    .Logo{
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
    }
    .name{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .comment{
        font-size: 15px;
    }
    .topTabs {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


@media (max-height: 725px) {

    .chartContainer {
        height: 200px;
        margin-top: 10px;
    }
    .info {
        margin-top: 30px;
    }

    .stockName {
        font-size: 18px;
    }

    .stockCode {
        font-size: 12px;
    }

    .stockPrice {
        font-size: 28px;
    }

    .previousPricePositive,
    .previousPriceNegative {
        font-size: 12px;
        margin-top: 3px;
    }

    .buyButton,
    .sellButton{
        font-size: 16px;
        padding: 10px 15px;
    }

    .Logo{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .name{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .comment{
        font-size: 14px;
        letter-spacing: 0px;
    }
    .topTabs {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tabButton {
        font-size: 12px;
    }

    .myStock {
        margin-top: 15px;
        font-size: 14px;
    }
}


@media (max-height: 690px) {
    .chartContainer {
        height: 190px;
        margin-top: 10px;
    }
    .info {
        margin-top: 30px;
    }

    .stockName {
        font-size: 16px;
    }

    .stockCode {
        font-size: 12px;
    }

    .stockPrice {
        font-size: 26px;
    }

    .previousPricePositive,
    .previousPriceNegative {
        font-size: 12px;
        margin-top: 3px;
    }

    .buyButton,
    .sellButton{
        font-size: 16px;
        padding: 10px 15px;
    }

    .Logo{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }
    .name{
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .comment{
        font-size: 14px;
        letter-spacing: 0px;
    }
    .topTabs {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tabButton {
        font-size: 12px;
    }

    .topTabButton {
        font-size: 12px;
    }
    .myStock {
        margin-top: 10px;
        font-size: 13px;
    }
}