.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 30px 30px 0px 0px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    width: 40%;
    position: relative;
    background: white;
    padding: 20px 40px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 30%;
    height: 30%;
}

.correctText {
    font-size: 24px;
    font-weight: 600;
}

.stockText {
    font-size: 16px;
    margin-bottom: 20px;
}

.goCompany {
    margin-top: 10px;
    padding: 10px 20px;
    background: #f4f8f9;
    color: #7e807f;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    z-index: 10000;
}

.confirm {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background: #7740fe;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    z-index: 10000;
}

.confirm:hover {
    background-color: #5b1aff;
}

.goCompany:hover {
    background-color: #eff9fc;
}

.companyName {
    margin-left: 5px;
    font-size: 18px;
}

.stockAmount {
    font-size: 20px;
    font-weight: 600;
    color: #1a2dff;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.animationWrapper {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 300px;
    z-index: 1;
}

.congratulationAnimation {
    width: 100%;
    height: 100%;
}
