.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
    background: url("~assets/attendance/background.svg") no-repeat center;
    background-size: cover;
    overflow: hidden;
}
.dayImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.topBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.backIcon {
    font-size: 24px;
    cursor: pointer;
}

.attendanceTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
}

.attendanceBox {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1e1d69;
    padding: 15px 30px;
    text-align: center;
    border-radius: 26px;
    width: 80%;
    max-width: 300px;
    height: 40px;
    align-items: center;
    z-index: 1;
}

.attendanceMonth {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.attendanceDay {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.calendarWrapper {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    margin-top: -20px;
    z-index: 0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: 100%;
    padding: 16px;
    margin-top: 20px;
}

.attendanceButton {
    background-color: #1e1d69;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    width: 170px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.attendanceButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.companyName {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.amount {
    font-size: 18px;
    font-weight: 500;
}

@media (max-height: 880px) {
    .attendanceTitle{
        font-size: 22px;
        margin-bottom: 40px;
    }
    .dayImage{
        width: 90%;
    }
    .attendanceBox {
        padding: 10px 16px;
        font-size: 16px;
        height: 35px;
    }

    .attendanceMonth {
        font-size: 18px;
    }
    
    .attendanceDay {
        font-size: 22px;
    }
}

@media (max-height: 830px) {
    .attendanceTitle{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .dayImage{
        width: 80%;
    }
    .attendanceBox {
        padding: 8px 12px;
        font-size: 16px;
        height: 35px;
    }

    .attendanceMonth {
        font-size: 18px;
    }
    
    .attendanceDay {
        font-size: 22px;
    }
}
