.container {
    border-radius: 15px;
    background-color: #fff;
    border: 0.5px solid #d0d0d0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
    padding: 30px;
    height: 110px;
    margin-top: 15px;
}

.name {
    font-size: 20px;
    font-weight: 600;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #c6c6c6;
    margin: 20px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.calendarIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/homepage/calendar.png");
}

.pointIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/homepage/point.png");
}

.useIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/homepage/use.svg");
}

.faqIcon {
    background-image: url("https://stock-craft.s3.ap-northeast-2.amazonaws.com/homepage/faq.svg");
}

.actionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actionLabel {
    margin-top: 5px;
    text-align: center;
    color: #7a7a7a;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
@media (max-width: 480px) {
    .container {
        padding: 20px;
        height: 110px;
        margin-top: 15px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}

@media (max-height: 830px) {
    .container {
        padding: 30px;
        height: auto;
        margin-top: 15px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}
