.page {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 90px);
    overflow: hidden;
    background-color: #f6f6f6;
}

.content {
    overflow-y: auto;
}

.wrapper {
    padding: 15px 25px 0px 25px;
}
