.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.start_button {
    width: 200px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
