.info {
    background-color: #FAF9F6;
    height: 180px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px 0px;
}

.amount {
    font-size: 32px;
    font-weight: 600;
}

.more {
    font-size: 12px;
    color: #fff;
    background-color: #000;
    padding: 6px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.earningRate {
    font-size: 13px;
    font-weight: 600;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #c6c6c6;
    margin: 30px 0;
}

.subInfo {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.stock,
.point {
    display: flex;
    align-items: center;
}

.stockTitle,
.pointTitle {
    font-size: 16px;
}

.stockAmount,
.pointAmount {
    font-size: 20px;
    margin-left: 25px;
    font-weight: 600;
}

@media (max-width: 480px) {
    .info {
        padding: 20px;
        height: auto;
        margin-top: 15px;
    }

    .title {
        font-size: 18px;
    }

    .details {
        margin: 5px 0;
    }

    .amount {
        font-size: 28px;
    }

    .more {
        font-size: 10px;
        padding: 4px 15px;
    }

    .earningRate {
        font-size: 12px;
    }

    .line {
        margin: 20px 0;
    }

    .subInfo {
        font-size: 12px;
        margin-top: 8px;
    }

    .stockTitle,
    .pointTitle {
        font-size: 14px;
    }

    .stockAmount,
    .pointAmount {
        font-size: 18px;
        margin-left: 15px;
    }
}

@media (max-width: 380px) {
    .stockTitle,
    .pointTitle {
        font-size: 12px;
    }

    .stockAmount,
    .pointAmount {
        font-size: 16px;
        margin-left: 15px;
    }
}
